[Unit]
Description=A goddamn hospital API
 
[Service]
Environment="PDP_URL=https://pdp:8444/pdp"
Environment="LAB_URL=http://lab1:8082"
Environment="PROJECT_PATH=/home/vagrant/examples/"
ExecStart=/bin/sh -c "/home/vagrant/examples/snapshots/hospital-0.0.1-SNAPSHOT.jar >> /var/log/hospital.log"
 
[Install] 
WantedBy=multi-user.target
