[Unit]
Description=A goddamn hospital API
 
[Service]
ExecStart=/bin/sh -c "/home/vagrant/project/apis/hospital/target/hospital-0.0.1-SNAPSHOT.jar >> /var/log/hospital.log"
 
[Install] 
WantedBy=multi-user.target
