[Unit]
Description=A goddamn PDP API
 
[Service]
ExecStart=/home/vagrant/project/apis/pdp/target/pdp-0.0.1-SNAPSHOT.jar 
 
[Install] 
WantedBy=multi-user.target
